button {
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: 3px;
    padding: 5px 20px;
    color: white;
}

button :hover {
    outline: none;
}
nav {
    margin-top: 20px;
}

body {
    background-color: rgba(0, 0, 0, 0.884);
}
